<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">code tutorial</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <div>
      <h3>Instructions</h3>
      This is the first step of this tutorial. <br/>
      Copy paste this code :
    </div>
    <form name="codeForm">
      <div class="form-group" ng-class="{'has-error': codeForm.widgetCode.$error.syntax}">

        <h3 class="control-label">widget.js</h3>

        <div name="widgetCode" ui-codemirror="{
          lineNumbers: true,
          lineWrapping : true,
          mode: 'javascript'
        }" ng-model="widgetCode"></div>

      
        <label class="control-label error" ng-show="codeForm.widgetCode.$error.syntax">{{codeForm.widgetCode.$error.evalResult}}</label>

      </div>

      <div class="form-group" ng-class="{'has-error': codeForm.jsCode.$error.syntax}">
      
      <h3 class="control-label">page.js</h3>

      <div name="jsCode" ui-codemirror="{
        lineNumbers: true,
        lineWrapping : true,
        mode: 'javascript'
      }" ng-model="jsCode"></div>
      
        <label class="control-label error" ng-show="codeForm.jsCode.$error.syntax">{{codeForm.jsCode.$error.evalResult}}</label>
      </div>

  </form>

    <div>
      <h3>Properties</h3>
      <wak-widgetproperties properties="props"></wak-widgetproperties>
    </div>


  </div>
  <div class="col-md-6">
    <h3>Result</h3>
    <div id="display"></div>
  </div>
</div>



